@model IEnumerable<PRA_Knjizara.Models.Transactions.Purchase>

@{
    ViewData["Title"] = "Index";
}

<h1>List of purchased books</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity) kom
                </td>
                <td>
                @if (User.IsInRole("Administrator"))
                {
                   <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }
                |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                |
                @if (User.IsInRole("Administrator"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                </td>
            </tr>
        }
    </tbody>
</table>
